main {
    padding: 20px;
    opacity: 0;
}

main .title * {
    font-weight: 100;
    user-select: none;
}

main .info {
    user-select: none;
    padding: 16px;
    border: dashed 2px #0000aa;
    border-radius: 16px;
    margin: 20px auto;
    width: 100%;
    max-width: 750px;
}

main .info .r {
    margin-bottom: 10px;
}

main .info .r * {
    font-weight: 100;
}

main .info .cpass {
    padding: 20px;
    border: solid 1px #0000aa;
    border-radius: 16px;
}

main .info .cpass form .inp {
    display: flex;
    width: 100%;
    margin-top: 10px;
}

main .info .cpass form .inp input {
    width: 100%;
    border: dashed 1px #0000aa;
    border-radius: 10px;
    padding: 5px;
    background-color: transparent;
    transition: 0.3s;
    color: white;
    width: 100%;
}

main .info .cpass form .inp button {
    padding: 0 5px;
    margin-left: 5px;
    border-radius: 10px;
    cursor: pointer;
    background-color: transparent;
    border: dashed 1px #0000aa;
    color: white;
}

main .info .cpass form .inp button:hover {
    border-style: solid;
}

main .info .cpass form .inp button i {
    margin-left: 1px;
}

main .info .cpass form .inp input:focus {
    outline: none;
    border-style: solid;
}

main .info .cpass form .submit {
    width: 100%;
    max-width: 300px;
    margin: auto;
    margin-top: 10px;
}

main .info .cpass form .submit input {
    border: dashed 1px transparent;
    border-radius: 10px;
    padding: 5px;
    background-color: #000050;
    transition: 0.2s;
    color: white;
    width: 100%;
    cursor: pointer;
}

main .info .cpass form .submit input:hover {
    border: dashed 1px #0000aa;
}

main .info .cpass form .submit input:active {
    border-style: solid;
    background-color: #0000aa;
}

main :where(.err, .done) {
    user-select: none;
    margin-top: 20px;
    padding: 20px;
    background-color: #aa000030;
    border: dashed 2px #aa0000;
    border-radius: 16px;
}

main :where(.err, .done) * {
    font-weight: 100;
}

main .done {
    background-color: #00aa0030;
    border: dashed 2px #00aa00;
}