main {
    padding: 20px;
    /* opacity: 0; */
}

main .title {
    user-select: none;
    height: fit-content;
    padding: 20px;
    margin-bottom: 20px;
    border: dashed 2px #0000aa;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    gap: 20px;
}

main .title .img {
    height: 100%;
}

main .title img {
    border: solid 1px #0000aa;
    border-radius: 16px;
    width: 100%;
    max-width: 150px;
}

main .title .info {
    height: fit-content;
}

main .title1 * {
    font-weight: 100;
    user-select: none;
}

main :where(.err, .done) {
    user-select: none;
    margin-top: 20px;
    padding: 20px;
    background-color: #aa000030;
    border: dashed 2px #aa0000;
    border-radius: 16px;
}

main :where(.err, .done) * {
    font-weight: 100;
}

main .done {
    background-color: #00aa0030;
    border: dashed 2px #00aa00;
}

main .form {
    user-select: none;
    padding: 16px;
    border: dashed 2px #0000aa;
    margin-top: 20px;
    border-radius: 16px;
}

main .form .e .inp {
    width: 100%;
    max-width: 100px;
}

main .form .e .inp input {
    width: 100%;
    border: none;
    background-color: transparent;
    color: white;
    border-bottom: solid 2px #0000aa20;
    padding: 5px 0;
    font-size: 15px;
    transition: 0.3s;
}

main .form .e .inp input:focus {
    outline: none;
    border-bottom-color: #0000aa;
}

main .form .e {
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
    gap: 20px;
    justify-content: space-around;
}

main .form button {
    width: 100%;
    margin-top: 16px;
    border: dashed 1px #0000aa;
    background-color: transparent;
    transition: 0.3s;
    padding: 5px;
    color: white;
    border-radius: 10px;
}

main .form button:hover {
    border-style: solid;
}

main .form button:active {
    background-color: #0000aa;
}