main {
    display: flex;
    position: relative;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    justify-content: center;
    height: 100%;
    padding: 50px;
    max-width: 1500px;
    max-height: 750px;
    user-select: none;
}

.main, .img {
    width: 100%;
    /* padding: 10px; */
    display: inline-block;
}

.img {
    background-image: url(/statics/img/login-bg.gif);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
}

.main *, .img * {
    max-width: 100%;
}

.main .form {
    height: fit-content;
    /* width: fit-content; */
    margin: auto;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

.main .form .inp {
    margin: auto;
    margin-top: 10px;
    width: 100%;
    max-width: 300px;
}

.main .form .inp input {
    border: dashed 1px #0000aa;
    border-radius: 10px;
    padding: 5px;
    background-color: transparent;
    transition: 0.3s;
    color: white;
    width: 100%;
}

.main .form .passwd {
    display: flex;
}

.main .form .passwd button {
    padding: 0 5px;
    margin-left: 5px;
    border-radius: 10px;
    cursor: pointer;
    background-color: transparent;
    border: dashed 1px #0000aa;
    color: white;
}

.main .form .passwd button:hover {
    border-style: solid;
}

.main .form .passwd button i {
    margin-left: 2px;
}

.main .form .inp input:focus {
    outline: none;
    border-style: solid;
}

.main .form .submit {
    width: 100%;
    max-width: 300px;
    margin: auto;
    margin-top: 10px;
}

.main .form .submit input {
    border: dashed 1px transparent;
    border-radius: 10px;
    padding: 5px;
    background-color: #000050;
    transition: 0.2s;
    color: white;
    width: 100%;
    cursor: pointer;
}

.main .form .submit input:hover {
    border: dashed 1px #0000aa;
}

.main .form .submit input:active {
    border-style: solid;
    background-color: #0000aa;
}

.main .form .error {
    padding: 5px;
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin: auto;
    border: solid 1px #aa0000;
    border-radius: 10px;
    color: #cc0000;
    margin-top: 10px;
    word-break: break-all;
}

@media only screen and (width < 1000px) {
    .img {
        display: none;
    }
}