main {
    padding: 20px;
    opacity: 0;
}

main .title * {
    font-weight: 100;
    user-select: none;
}

main .title button {
    float: right;
    border: none;
    padding: 10px;
    width: 100px;
    background-color: transparent;
    color: white;
    border: dashed 2px #0000aa;
    border-radius: 30px;
    margin-top: 5px;
    transition: 0.2s;
}

main .title button:hover {
    border-style: solid;
}

main .title button:active {
    background-color: #0000aa;
}

main .sv {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    user-select: none;
}

main .sv a {
    color: white;
    width: 100%;
}

main .sv .sio {
    padding: 15px;
    border: dashed 2px #0000aa;
    border-radius: 16px;
    width: 100%;
    min-width: 250px;
    max-width: 300px;
}

main .sv .sio * {
    font-weight: 100;
}

main .sv .sio .info {
    display: flex;
    justify-content: space-between;
}

main .sv .sio .btn {
    display: flex;
    gap: 5px;
}

main .sv .sio .btn button {
    width: 100%;
    background-color: transparent;
    border: dashed 1px #0000aa;
    color: white;
    border-radius: 10px;
    padding: 5px;
    margin-top: 5px;
    transition: 0.3s;
}

main .sv .sio .btn button:hover {
    border-style: solid;
}

main .sv .sio .btn button:active {
    background-color: #0000aa;
}

.crSp {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9;
    background-color: #000010bb;
    backdrop-filter: blur(5px);
    padding: 10px;
    user-select: none;
}

.crSp .form {
    width: 100%;
    max-width: 500px;
    height: fit-content;
    min-height: 200px;
    max-height: 400px;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 16px;
    border: dashed 2px #0000aa;
    padding: 10px;
}

.crSp .form form .inp {
    width: 100%;
    margin-bottom: 16px;
}

.crSp .form form .inp input {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: solid 2px #0000aa20;
    font-size: 16px;
    padding: 0 5px 0 5px;
    color: white;
    transition: 0.3s;
}

.crSp .form form .inp input:focus {
    outline: none;
    border-bottom-color: #0000aa;
}

.crSp .form form .inp select {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: solid 2px #0000aa20;
    font-size: 16px;
    padding: 0 5px 0 5px;
    color: white;
    transition: 0.3s;
}

.crSp .form form .inp select:focus {
    outline: none;
    border-bottom-color: #0000aa;
}

.crSp .form form .inp select * {
    background-color: #0000aa;
}

.crSp .form form .ann {
    display: flex;
    gap: 10px;
}

.crSp .form form .btn {
    width: fit-content;
    margin: auto;
}

.crSp .form form .btn input {
    background-color: transparent;
    color: white;
    border: dashed 1px #0000aa;
    padding: 5px 10px;
    border-radius: 16px;
    transition: 0.3s;
}

.crSp .form form .btn input:hover {
    border-style: solid;
}

.crSp .form form .btn input:active {
    background-color: #0000aa;
}

main :where(.err, .done) {
    user-select: none;
    margin-top: 20px;
    padding: 20px;
    background-color: #aa000030;
    border: dashed 2px #aa0000;
    border-radius: 16px;
}

main :where(.err, .done) * {
    font-weight: 100;
}

main .done {
    background-color: #00aa0030;
    border: dashed 2px #00aa00;
}

/* iserver.html */

main .isv {
    margin: 20px auto;
    user-select: none;
    width: 100%;
    max-width: 1000px;
}

main .isv .sio {
    padding: 15px;
    border: dashed 2px #0000aa;
    border-radius: 16px;
    width: 100%;
}

main .isv .sio * {
    font-weight: 100;
}

main .isv .sio .info {
    display: flex;
    justify-content: space-between;
}

main .isv .sio button {
    width: 100%;
    background-color: transparent;
    color: white;
    border: dashed 1px #aa0000;
    margin-top: 20px;
    padding: 5px;
    border-radius: 10px;
    transition: 0.3s;
}

main .isv .sio button:hover {
    border-style: solid;
}

main .isv .sio button:active {
    background-color: #aa0000;
}