<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/statics/css/httperror.css">
    <link rel="stylesheet" href="/statics/css/general.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/statics/img/logo.png" type="image/png">
    <title>{{errorName}}</title>
</head>
<body>
    <div class="err">
        <h4>{{errorCode}}<b class="name">{{errorName}}</b></h4>
        <h4 align="center"><a href="javascript: history.back()">Go back</a></h4>
    </div>
</body>

    <!-- v0.2 -->
    <style>
        body {
            background-color: {{bcolor}};
        }
        
        * {
            color: {{tcolor}} !important;
        }

    </style>
</html>