<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/statics/css/general.css">
    <link rel="stylesheet" href="/statics/css/dash_css.css">
    <link rel="stylesheet" href="/statics/css/server.css">
    <!-- <script>
        document.onreadystatechange = function() {
            if (document.readyState == 'complete') {
                $(".loading").fadeOut(200)
                $("body").css("overflow-y","unset")
                $("main").delay(300).css("animation", "showing 0.5s forwards ease-in-out");
                document.onreadystatechange = () => {}
            }
        };
    </script> -->
    <script src="/statics/js/server.js"></script>
    <script src="/statics/js/dash.js"></script>
    <title>Your servers - {{name}}</title>
</head>
<body>
    <div style="display: none" class="loading">
        <div class="loader"></div>
    </div>
    <div class="nav">
        <div class="name">
            {{name}}
        </div>
        <div class="items">
            <a onclick="sh()">
                <div id="menuToggle" class="it">
                    <i class="fa-solid fa-bars"></i><it>&nbsp;Hide menu</it>
                </div>
            </a>
            {% for i in list(mIt.keys()) %}
            <a href="{{mIt[i]['link']}}" {% if request.path.replace('/','') == mIt[i]['link'].replace('/','') %} class="sp" {% endif %}>
                <div class="it">
                    {{mIt[i]["icon"] | safe}}<it>&nbsp;{{i}}</it>
                </div>
            </a>
            {% endfor %}
            {% if isAdmin %}
            <a href="/admin">
                <div class="it">
                    <i class="fa-solid fa-lock"></i><it>&nbsp;Admin Panel</it>
                </div>
            </a>
            {% endif %}
        </div>
        <div class="users">
            <h5>{{user}}</h5>
            <h6>Coins: {{coin}}</h6>
        </div>
    </div>
    <div class="main">
        <main>
            <div class="title">
                <button>
                    <i class="fa-regular fa-plus"></i>
                    Create
                </button>
                <h2>Servers</h2>
                <h4>Your server will appear here!</h4>
            </div>
            <div class="sv">
                {% for i in sv %}
                <a href="/server/{{i['identifier']}}">
                    <div class="sio">
                        <h2 style="overflow-x: hidden;
                                   text-overflow: ellipsis;">{{i["name"]}}</h2>
                        <h6>{{i['identifier']}}</h6>
                        <div class="info" style="margin-top: 5px"><h4>CPU:</h4><h4>{{i["limits"]["cpu"]}}%</h4></div>
                        <div class="info" style="margin-top: 5px"><h4>Ram:</h4><h4>{{i["limits"]["memory"]/1024}}GB</h4></div>
                        <div class="info" style="margin-top: 5px"><h4>Disk:</h4><h4>{{i["limits"]["disk"]/1024}}GB</h4></div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </main>
        <footer>
            <div class="text">
                    <h6 style="float: right; margin-top: 2px;">
                        <i class="fa-regular fa-clock"></i>
                        {{loadTime}}s
                    </h6>
                    <h5>Copyright © 2024-{{datetime.datetime.now().strftime("%Y")}} <a href="https://github.com/h3l2f/xlpanel">Xlpanel</a>.</h5>
            </div>
        </footer>
    </div>
</body>
</html>